.blog-edit-container {
    width: 1000px;
    height: calc(100% - 50px);
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px; /* 为容器添加圆角 */
    padding: 20px; /* 为容器内部添加内边距 */
}

.blog-edit-container .title {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #f5f5f5;
    border-bottom: 2px solid #e5e5e5; /* 为标题栏添加下边框 */
}

#title {
    height: 40px;
    width: calc(100% - 200px);
    text-indent: 10px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #ddd;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0 10px; /* 为输入框内部添加内边距 */
}

#submit {
    height: 40px;
    width: 100px;
    color: white;
    background-color: orange;
    border: none;
    outline: none;
    border-radius: 10px;
    transition: background-color 0.3s, box-shadow 0.3s; /* 添加阴影的过渡效果 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 添加轻微的阴影效果 */
}

#submit:hover {
    background-color: darkorange;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 鼠标悬停时加深阴影效果 */
}

#editor {
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px; /* 为编辑器内部添加内边距 */
    border: 1px solid #ddd; /* 为编辑器添加边框 */
}