/* nav.css */
.nav {
   background: #333;
   color: #fff;
   overflow: hidden;
   display: flex;
   justify-content: left;
   align-items: center;
}

.nav a {
   color: #fff;
   padding: 14px 20px;
   display: inline-block;
   text-decoration: none;
}

.nav a:hover {
   background-color: #ddd;
   color: black;
}

.nav img {
   max-width: 60px;
   height: auto;
   margin-right: 10px;
}

@media (max-width: 768px) {
   .nav a {
       display: block;
       width: 100%;
       margin: 5px 0;
   }
}